<!DOCTYPE html>
<html lang="en">
<head>
    <title>Meadowlark Travel</title>
    {{{_sections.head}}}
</head>
<body>

    <p><i>Technical note</i></p>
    {{{body}}}
    {{{_sections.scripts}}}
</body>
</html>