<!doctype html>
<html>
<head>
<title>Meadowlark Travel</title>
<link rel="stylesheet" href="/css/main.css">
</head>
<body>
{{{body}}} <!--Isso é para o view engine saber onde vai renderizar o conteúdo das nossas outras páginas, já que estamos usando o layout do "main.handlebars" como padrão.-->
</body>
</html>