<h1>Welcome to our main page!!</h1>
<div class="idontknow">
    <input type="number" placeholder="Your age">
    <button>Why u like that</button>
</div>

<table>
    {{#each dados}}
    <tr>
        <td>{{nome}}</td>
        <td>{{idade}}</td>
    </tr>
    {{/each}}
</table>