<%- include('includes/head'); %>

<section class="container">
  <h1><%= variavel %></h1>

  <form action="/" method="post">
    <label>Cliente</label>
    <p>Obrigado por entrar em contato!!</p>
  </form>
</section>

<%- include('includes/footer'); %>