{{#section 'head'}}
<meta name="robots" content="noindex">
{{/section}}

<h1>Página de teste</h1>

<p>Vamos testar algumas coisas interessantes</p>

{{#section 'scripts'}}
    <script>
        document.querySelector('body').insertAdjacentHTML('beforeEnd', '<small>(scripting works!)</small>')
    </script>
{{/section}}